<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>Lista de tarefas</title>
</head>
<body>
    <%- include("./partials/header.ejs") %> 
    <main>
        <section id="tarefas">
            <% monstraTarefas.forEach(element => { %>
                <div class="post">
                    <a href="/apagar/<%=element.id %> ">
                        <img src="/img/apagar.png">
                    </a>
                    <a href="/editar/<%= element.id %> ">
                        <img src="/img/editar.png">
                    </a>
                    <a href="/detalhes/<%= element.id %> ">
                        <h1>
                            <%= element.nome %>
                        </h1>
                    </a>
                    <h1>
                        <%= element.data %>
                    </h1>
                    <h1>
                        <%= element.hora %>
                    </h1>
                    <h1>
                        <%= element.descricao %>
                    </h1>
                </div>
             
            <% }) %>
        </section>
        
    </main>
    <%- include("./partials/footer.ejs") %> 
</body>
</html>